<div class="container">
  <div id="form-one" class="col-md-12"> </div>

  <div id="custom-form" class="col-md-12"> </div>
</div>

<script>
  var form = new FormioForm(document.getElementById('custom-form'));
  form.form = <%= raw @str_form %>;
  form.src = `https://crossroads.form.io/<%= @form_path %>`;
  form.submission = <%= raw @submission_data %>
</script>
